pkgbase = grablytic-bin
	pkgdesc = Privacy-first high-performance media downloader powered by yt-dlp
	pkgver = 0.0.2
	pkgrel = 1
	url = https://github.com/OnlyXianzo/Grablytic
	arch = x86_64
	arch = aarch64
	license = GPL3
	depends = gtk3
	depends = python
	depends = ffmpeg
	depends = aria2
	provides = grablytic
	conflicts = grablytic
	conflicts = truestream
	conflicts = truestream-bin
	replaces = truestream-bin
	source_x86_64 = https://github.com/OnlyXianzo/Grablytic/releases/download/v0.0.2/grablytic-0.0.2-linux-x64.tar.gz
	sha256sums_x86_64 = f7d2b31876574637ad7e9c21598c39a8db8811484f77cf1a1425b4e6f928b9f7
	source_aarch64 = https://github.com/OnlyXianzo/Grablytic/releases/download/v0.0.2/grablytic-0.0.2-linux-arm64.tar.gz
	sha256sums_aarch64 = eb81d8a69d485428f16e120a20ec7283e11e92d107035d62580843ac27cf299e
	source = grablytic.desktop
	sha256sums = SKIP
	source = grablytic.png
	sha256sums = SKIP

pkgname = grablytic-bin
